* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nav-bar {
    background-color: #1A0B2E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    border-bottom: 2px solid #412567;
}
.nav-bar p {
    font-size: 2rem;
    font-weight: bold;
    background: ;
}
.nav-bar p span {
    color:rgb(185, 15, 207);

}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li {
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
    font-size: 16px;
    cursor: pointer;
}
.hamburger-menu {
    display: none;
}
.nav-btn {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 12.5px 16px;
    border-radius: 10px;
    background: linear-gradient(
  135deg,
  rgba(255, 76, 205, 1),
  rgba(255, 204, 112, 1));
    color: white;
    cursor: pointer;
}


#hero {
    width: 100%;
    background: url(image/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px
}
.hero-container {
    width: ;
    height: ;
    background: re;
    padding-top: 50px;
}
.img-1 {
    width: 350px;
    height: 350px;
    background: url(image/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: glow 0.5s ease-in-out infinite alternate;
    box-shadow:0 0 60px rgba(255,76,205,0.6);
}
@keyframes glow {
  0% {
    box-shadow:
      0 0 15px rgba(255, 0, 204, 0.3),
      0 0 30px rgba(0, 204, 255, 0.2);
  }
  100% {
    box-shadow:
      0 0 30px rgba(255, 0, 204, 0.7),
      0 0 60px rgba(0, 204, 255, 0.6);
  }
}
.hero-container-details {
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
.hero-container-details h1 {
    font-size: 60px;
    font-weight: bolder;
    color: white;
    margin-bottom: 8px;
}
.hero-container-details p {
    font-size: 16px;
    color: white;
    margin-bottom: 18px;
}
.hero-btn-1 {
    justify-content: space-between;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(
  135deg,
  rgba(255, 76, 205, 1),
  rgba(255, 204, 112, 1));
  cursor: pointer;
}

.hero-btn-1 img {
    margin-right: 20px;
}
.hero-btn-2 {
    align-items: center;
    justify-content: space-between;
    padding: 10.5px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #00FF88;
    background: none;
    color: white;
    cursor: pointer;
}
.hero-btn-2 img {
    margin-right: 20px;
}


.about-section {
  padding: 100px 20px;
  background: #190D32;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.about-content {
  text-align: center;
  margin-bottom: 80px;
}

.about-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-content p {
  max-width: 800px;
  margin: 0 auto 20px;
  line-height: 1.8;
  color: #cfc3e6;
}

.sub-text {
  font-size: 14px;
  color: #b6aacb;
}


.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 50px;
}

.stat-card {
  text-align: center;
}

.stat-card h3 {
  font-size: 50px;
  color: #00ff99;
  margin-bottom: 8px;
}

.stat-card span {
  font-size: 12px;
  letter-spacing: 1px;
  color: #bfb4d6;
}












@media screen and (max-width: 576px) {
    .nav-bar ul {
        display: none;
    }
    .nav-btn {
        display: none;
    }
    .hamburger-menu {
        display: inline;
    }
    .nav-bar {
    background-color: #1A0B2E;
    color: white;
    display: fle
    align-items: center;
    padding: 20px 50px;
    }
      .about-section {
    padding: 70px 16px;
  }

  .about-content h2 {
    font-size: 26px;
  }

  .about-content p {
    font-size: 14px;
  }

  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 40px;
  }

  .stat-card h3 {
    font-size: 24px;
  }

  .stat-card span {
    font-size: 11px;
  }
    

}





